.navbar-laravel {
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }


.hero_single3.version_3:before {
    background: url(../img/universal/1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single4.version_4:before {
    background: url(../img/sea-world/sea-world-parks-bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single5.version_5:before {
    background: url(../img/sea-world/experiencias-con-orcas-seaworld.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single6.version_6:before {
    background: url(../img/sea-world/aquatica-toboganes.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single7.version_7:before {
    background: url(../img/sea-world/aves-Bush-Garden.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single8.version_8:before {
    background: url(../img/excursiones/excursiones-banner.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single9.version_9:before {
    background: url(../img/excursiones/puente-de-nueva-york.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single10.version_10:before {
    background: url(../img/excursiones/excrusiones-miami8.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single11.version_11:before {
    background: url(../img/disney/cruceros/linea-de-cruceros-de-disney.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single12.version_12:before {
    background: url(../img/disney/cruceros/overview-disney-dream.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single13.version_13:before {
    background: url(../img/disney/cruceros/overview-disney-fantasy.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


.hero_single14.version_14:before {
    background: url(../img/disney/cruceros/embarque-en-disney-wonder.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single15.version_15:before {
    background: url(../img/disney/cruceros/disney-wonder-en-familia.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single16.version_16:before {
    background: url(../img/disney/cruceros/region-bahamas.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single17.version_17:before {
    background: url(../img/disney/cruceros/islas-bermudas.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single18.version_18:before {
    background: url(../img/disney/cruceros/halifax-canada.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single19.version_19:before {
    background: url(../img/disney/cruceros/overview-poc-caribbean.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single20.version_20:before {
    background: url(../img/disney/cruceros/dcl-europe-landing-page-villefranche-ship-in-port-16x9.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single21.version_21:before {
    background: url(../img/disney/cruceros/ensenada-mexico.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single22.version_22:before {
    background: url(../img/disney/cruceros/san-diego-california.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single23.version_23:before {
    background: url(../img/universal/parks/1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

.hero_single24.version_24:before {
    background: url(../img/transport/transporte-ticketland-.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }


#img-banner {
    background-size: cover;
    background: #000 url(../img/disney/cruceros/diversión-y-diversión-den-disney-cruceeros.jpg) no-repeat center center;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.8s;
    height: 100vh;
    }


#img-family {
    background: url(../img/disney/cruceros/hero-dcl-family-beach-ship.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    }

.text-crucero {
    color: #7A7A7A;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    }

.cruceros-line {
    color: #D4B111 !important;
    }


.cursor-pointer-text {
    cursor: pointer;
    }

.bg-green-ligth {
    background-color: #26B6C0;
    color: white;
    }

.bg-blue-dark {
    background-color: #002F4C;
    color: white;
    }

.img-responsive-heigth {
    height: 25vh !important;
    }

.font-size-universal {
    font-size: 20px !important;
    }

.responsive-card {
    height: 65vh !important;
    }

.responsive-card-crucero {
    height: 80vh !important;
    }

.responsive-card-crucero-disney {
    height: 30vh;
    border-style: none;
    background: none;
    }

.border-card {
    border-style: none;
    background: none;
    }

.bg-primary-light {

    background-color: #00B1F7;
    }

.bg-dark-card {
    background-color: #4C4C4C;
    color: #09BE9F;
    }

.color-green {
    color: #09BE9F;
    }


.btn-yellow {
    color: #0C0C0C;
    background-color: #F7E600;
    }

.bg-yellow {
    background-color: #F9C73E;
    }

.btn-yellow-dark {
    background-color: #D4B111;
    }

.h1-color-green {
    color: #09BE9F;
    }

.p-color-font {
    color: #7A7A7A;
    font-family: Roboto, SansSerif;
    font-weight: 400;
    }

.card-style {
    border-style: none;
    background: none;
    }
